  body {
    background-image: url("https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGFpc2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: 100%;
  } 
  
  .land {
    font-size: 60px;
    color: black;
    margin-bottom: 100px;
  }
  .link {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .button {
    border-radius: 30px;
    height: 40px;
    background-color: rgb(238, 241, 245);
    shape-outside: none;
    margin-top: 50px;
  }
  
  .button:hover {
    background-color: rgba(230, 169, 77, 0);
    transition: 300ms;
  }
  
  .link:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
  }
  .divi {
    margin-top: 100px;
  }